.Header {
    background-color: var(--collor-white);
    width: 100%;
    position: fixed;
    top: 0%;
    z-index: 998;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    height: 55px;
    display: flex;
}

    .content_Header {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 14px 10%;
        overflow: hidden;
    }

    .division_Content {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 100%;
    }

    @media (max-width: 748) {
        .Header {
            width: 100%;
            height: 60px;
        }

        .content_Header {
            width: 100%;
            display: flex;
            align-items: center;
        }
    }