.Values {
    position: relative;
    height: auto;
    width: 100%;
}

.divContentValues {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 60px 6%;
}