.container_Logo {
    width: 200px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

    .ImageLogo {
        width: 100%;
        user-select: none;
    }
}

@media (max-width: 748) {
    .container_Logo {
        width: 250px;
        display: flex;
        align-items: start;
        justify-content: start;
    }
}