.container_Range {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3rem 4rem;
    background-color: var(--collor-blue-dark);
}

.Assessment {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    .icon_Star {
        font-size: 1.2rem;
        color: rgba(255, 255, 0, 0.762);
    }
}

.content_Description {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.title_Range {
    font-size: 1rem;
    font-weight: 500;
    color: var(--collor-white);
}

@media (max-width: 748px) {
    .container_Range {
        display: none;
    }
}